/***** Colors *****/
@white: #ffffff;
@black: #000000;

@yellow: #fcdb00;

@light-black: #333;
@light-grey: #eee;


body {
    box-sizing: border-box;
    background: @white;
    font-family: 'Roboto', sans-serif;
        h1, h2, h3, h4, h5, h6 {
            color: @black;
                & > a {
                    color: @black;                 
                }
        }  
        a {
            &:hover, &:active, &:focus {
                color: @black;
                text-decoration: none;
            }
        }
        & > .container-fluid {
            padding: 0;
        }     
}

.blog-sidebar {
    display: block;
    width: 100%;
    position: fixed;
    background: @white;
    right: 2%;
    top: 20%;
    padding: 25px;
    z-index: 10;
}

.wp-block-image img {
    height: auto;
    width: 60%;      
}

.art-desc {
    figure {
        text-align: center;
    }
}


.ctf-menu {
    background: @white;
    height: 55px;
    position: fixed;    
    z-index: 1;
    ul {
        margin: revert;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        li {
            display: inline-block;
                a {
                    color: @black;
                    font-weight: 900;                                              
                }
                &:hover, &:focus, &:active {
                    ul {                       
                        display: flex;
                        flex-direction: column;
                        li {                                             
                            a {                               
                                &:hover, &:focus, &:active {
                                    color: @yellow;
                                }
                            }
                        }
                    }

                }
               
        }
    }
    .sub-menu {
        display: none;
        padding: 0;
        width: 170%;
        height: 105px;
        background: @white;
            li {
                margin-left: 15%;       
                a {
                    font-weight: 300;
                    padding: 10px 0;                                    
                }
            }
    }
}

.box-title {
    position: relative;
    margin-bottom: 8%;
    .sub-title {
        top: 85%;
        position: absolute;
        font-weight: 500;      
    }
}



.ctf-main-desc {
    background: @yellow;    
        .box-main {
            margin: 12% auto;
                .box--main-img {
                    height: 250px;
                    width: fit-content;
                    margin: auto;
                    margin-bottom: 0;
                    margin-top: 0;
                    img {
                        height: 435px;
                        width: auto;
                    }
                }
                .box--main-ct-description {
                    p {
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            .col-lg-6:last-child {
                display: flex;
                flex-direction: column;
            }
        }        
        h1 {
            font-size: 75px;
        }       
}

.sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    min-height: 425px;
        &:nth-child(odd) {
            background: @yellow;
        }
        .ct-sect-img {
            text-align: right;
            img {                
                width: auto;
            }
        }
}

.ctf-aerien {
    img {
        height: 140px;
    }
}

.ctf-naval {
    img {
        height: 175px;
    }
}

.ctf-automobile {
    img {
        height: 156px;
    }
}

.ctf-footer {
    background: @light-black;    
    text-align: right;
        footer {
            padding: 10px;
                ul {
                    li {
                        a {
                            font-size: 12px;
                            color: @white;
                        }
                    }
                }
        }
       
}

.page {
    background: @light-grey;
    .art-content {
        margin: 10% 0;
            h1 {
                margin-bottom: 2%;
            }
    }
}

.woo-page {
    background: #dedede;  
}

.woocommerce {
    padding: 80px;
    ul.products {
        li.product {
            background: @white;
            padding: 15px;
            border: 1px solid @white;  
            min-width: 210px;
                a.add_to_cart_button {
                    width: 100%;
                    text-align: center;
                    border: none;
                    border-radius: 0;
                    background: @yellow;
                    padding: 16px;
                }
       
        }
        li {
            &::after {                
                position: absolute;
                top: -0.3%;
                right: -0.5%;
                padding: 5px 10px;          
            }     
            &.product_cat-neuf::after {
                content: "Neuf";
                background-color: #5DFDCB;  
            }   
            &.product_cat-occasion::after {
                content: "Occasion";
                background-color: #85C7F2;  
            }  
            
        }

    }
    div[id^=product-] {
        background: @white;
        padding: 45px;
            .woocommerce-tabs {
                ul.tabs {
                    li {                       
                        &.reviews_tab {
                            border-color: @yellow;
                            background: @yellow;
                        }
                    }
                }
            }
         
    }
} 

.art-content {
    background: @white;
    padding: 45px;
}




@media screen and (max-width: 960px) {
    .blog-sidebar {
        display: none;
    }
    
    .ctf-main-desc .box-main .box--main-img img {
        width: 100%;
        height: auto;
    }

    .sect {
        justify-content: inherit;
        padding: 25px 10px;

            [class^="ct-"] {
                width: 80%;
            }

            .ct-sect-img {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .container-fluid {
                padding-left: 0;
            }
    }

    .ctf-main-desc .box-main {
        margin: 20% auto;

        .box--main-desc {
            width: 80%;
    
                .box-title {
                    margin-bottom: 12%;
                }
        }

        .box--main-img {
            height: inherit;
        }
    }

    .ctf-main-desc .box-main .col-lg-6:last-child {
        margin: 0 auto;
    }

  }
